
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<h1> Bienvenido Usuario </h1>
<div>
<h3 align="justify" ><font color="white">
    <p>
        El año nuevo también nos trae aire fresco en materia de moda; décadas que vuelven, colores inesperados que iluminan nuestro armario y siluetas nuevas para actualizar tu look.
        Te las traemos todas (con tips para llevarlas según las expertas) para que elijas las que mejor van contigo.
    </p>
    <br />
    <p>
        El nuevo año viene cargado de tendencias; algunas las habíamos advertido ya y otras resultan realmente nuevas y sorprendentes. Pero algo ha cambiado de hace algunos años a ahora: hay tantas y tan variadas que resulta difícil establecer una lista exhaustiva de 'lo que sí y lo que no'. Ahora los vestidos románticos conviven con las botas militares, la década de los 70 te viste un día y al siguiente te inspiran los 90 más grunge, los colores se mezclan sin reglas y muy pocos se adscriben sólo a un estilo. Cada uno escoge y muestra las que mejor casan con su gusto y personalidad y, más que nunca, la moda resulta el juego más divertido. No obstante, aquellos que pasamos horas entre las fotos de street style, sabemos que hay gestos de moda comunes que sobresalen y llaman la atención, y esos son los que hemos recogido aquí: los bolsos especiales,
        el total look cuero, las nuevas siluetas de chaquetas y pantalón... Si quieres tomarle el pulso a lo que viene, apunta:
    </p>
    <br />
    <p>
        La chaqueta corta resulta ser el tándem ideal de pantalones altos de cintura, bombachos y slouchy, pues permite quitar un poco de peso visual y estilizar. La de color marrón de Zara nos tiene enamoradas.
    </p>
    <div align="center"><img src="~/images/chaquetacorta.jpg"></div>
</font></h3>

</div>