
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h1>Error, Usuario y/o contraseña Erróneos</h1>
<div>
    <h2 align="center">
        <font color="white">
            <br></br>
            <br></br>
            <br></br>
            <p>
                ¡¡¡Por favor Intentalo nuevamente!!!
            </p>
            <br></br>
            <br></br>
            <br></br>
            <div align="center"><img src="~/images/error.png"></div>
        </font>
    </h2>

</div>


